body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header {
    background-color: maroon;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;

}


ul {
    list-style-position: inside;   
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:brown;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  li a:hover {
    background-color: darkred;
  }

  h2 {
    font-weight: bold;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }

  table {
    text-align: left;
  }

  th {
    font-weight: bold;
    background-color: gray;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
  }

  td {
    padding-right: 15px;
    padding-left: 15px;
  }

  .cellheading {
    font-weight: bold;
    font-size: 15px;
  }

  .codeexample {
    background-color: black;
    color: greenyellow;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
  }

  .textincode {
      color: white;
  }